<a href="https://colab.research.google.com/github/Harold-dev-code/Primer_Challenge_DataScience_Alura_Store/blob/main/Primer_Challenge_DataScience_AluraStore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

##**-Conociendo los datos**

In [2]:
tienda1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB


###**Estructura de datos:**

El conjunto de datos incluye la siguiente información:

**Producto y Categoría:** Artículos vendidos y sus calificaciones.

**Precio y Envío:** Valores de venta y costos asociados.

**Vendedor:** Personal-Valor *humano*

**Fecha y ubicación de compra:** Información temporal y geográfica.

**Evaluación de compra:** Comentarios de clientes.

**Tipo de Pago y Cuotas:** Métodos utilizados por los clientes.

**Coordenadas Geográficas:** Ubicación de las transacciones. Lat(Latitud) y lon(longitud)

## **-Tipos de datos**

In [3]:
tienda1.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

##**-Comprobando datos nulos**

In [4]:
tienda1.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

##**-Organización De Los Datos**

### Quiero organizar mis datos en un solo dataframe:
para esto debo realizar lo siguiente:

1. Verificar columnas de los DataFrames: Comprobar que todos los DataFrames tienen las mismas columnas antes de la concatenación.
2. Añadir columna 'tienda' a cada DataFrame: Asignar un identificador de tienda a cada DataFrame ('tienda1', 'tienda2', etc.) antes de unirlos.
3. Concatenar todos los DataFrames: Unir todos los DataFrames en uno solo, incluyendo la nueva columna 'tienda'.
4. Comprobar que todos los datos se unieron correctamente:
Se puede usar .sample(n=7) para ver 7 filas aleatorias.
Tambien puedo sumar con .shape[0] el numero de filas de cada dataframe de las
tiendas y comparar con el .shape[0] del dataframe completo de las tiendas deben de dar iguales.

#### 1. Verificar columnas de los DataFrames:

In [5]:
print("Columnas de tienda1:", tienda1.columns.tolist())
print("Columnas de tienda2:", tienda2.columns.tolist())
print("Columnas de tienda3:", tienda3.columns.tolist())
print("Columnas de tienda4:", tienda4.columns.tolist())

Columnas de tienda1: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda2: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda3: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda4: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']

In [6]:
# Comprobación programática
columns_tienda1 = set(tienda1.columns)
columns_tienda2 = set(tienda2.columns)
columns_tienda3 = set(tienda3.columns)
columns_tienda4 = set(tienda4.columns)

if columns_tienda1 == columns_tienda2 == columns_tienda3 == columns_tienda4:
    print("\nTodos los DataFrames tienen las mismas columnas.")
else:
    print("\nLos DataFrames tienen columnas diferentes.")

Todos los DataFrames tienen las mismas columnas.

#### 2. Añadir columna 'tienda' a cada DataFrame: Asignar un identificador

In [7]:
tienda1['Tienda'] = 'tienda1'
tienda2['Tienda'] = 'tienda2'
tienda3['Tienda'] = 'tienda3'
tienda4['Tienda'] = 'tienda4'

print("Column 'Tienda' añadida a todos los DataFrames.")

Column 'Tienda' añadida a todos los DataFrames.

#### 3. Concatenar todos los DataFrames:

In [9]:
df_tiendas_completo = pd.concat([tienda1, tienda2, tienda3, tienda4], ignore_index=True)
df_tiendas_completo.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175,tienda1
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359,tienda1
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444,tienda1
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250,tienda1
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359,tienda1

#### 4. Comprobar que los dataframe se unieron correctamente

##### con .sample(n=)

In [11]:
df_tiendas_completo.sample(n=7)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
8573,Estufa,Electrodomésticos,713900.0,36200.0,16/06/2022,Felipe Santos,Barranquilla,5,Tarjeta de crédito,3,10.96854,-74.78132,tienda4
8818,Mesa de comedor,Muebles,315800.0,21600.0,21/04/2022,Mariana Herrera,Barranquilla,1,Tarjeta de crédito,10,10.96854,-74.78132,tienda4
715,Batería,Instrumentos musicales,669200.0,36700.0,27/06/2021,Maria Alfonso,Bogotá,5,Nequi,1,4.60971,-74.08175,tienda1
4557,Auriculares con micrófono,Electrónicos,170600.0,7300.0,24/04/2022,Beatriz Morales,Pereira,4,Tarjeta de crédito,3,4.81333,-75.69611,tienda2
347,Balón de baloncesto,Deportes y diversión,67500.0,4000.0,29/03/2023,Beatriz Morales,Barranquilla,3,Tarjeta de crédito,8,10.96854,-74.78132,tienda1
4896,Modelado predictivo,Libros,52100.0,3000.0,22/06/2021,Izabela de León,Cartagena,3,Tarjeta de crédito,1,10.39972,-75.51444,tienda3
1726,Balón de baloncesto,Deportes y diversión,32400.0,1900.0,13/02/2022,Mariana Herrera,Leticia,5,Tarjeta de crédito,6,-4.21528,-69.94056,tienda1

##### Comprobar tambien sumando las filas de todos los dataframe utilizando:   .shape[0] y comparandolo con el shape[0] del completo.

In [15]:
total_rows = tienda1.shape[0] + tienda2.shape[0] + tienda3.shape[0] + tienda4.shape[0]
print(f"El número total de filas entre todas los df de las tiendas es: {total_rows}")

El número total de filas entre todas los df de las tiendas es: 9435

In [20]:
df_tiendas_completo.shape[0]
print(f"El número total de filas del df_tiendas_completo es: {df_tiendas_completo.shape[0]}")

El número total de filas del df_tiendas_completo es: 9435

##**-Limpiar los Datos**

In [22]:
df_tiendas_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categoría del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de envío          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificación            9435 non-null   int64
 8   Método de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
 12  Tienda                  9435 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 958.4+ KB

In [23]:
df_tiendas_completo.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
Tienda                    0
dtype: int64

#1. Análisis de facturación

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda

# 6. Recomendación Final

Enviar una recomendación:

Después del análisis, escriba un texto explicando a qué tienda debería vender el Sr. Juan y por qué, basándose en los datos presentados.