<a href="https://colab.research.google.com/github/Harold-dev-code/Primer_Challenge_DataScience_Alura_Store/blob/main/Primer_Challenge_DataScience_AluraStore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

##**-Conociendo los datos**

In [2]:
tienda1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB


###**Estructura de datos:**

El conjunto de datos incluye la siguiente información:

**Producto y Categoría:** Artículos vendidos y sus calificaciones.

**Precio y Envío:** Valores de venta y costos asociados.

**Vendedor:** Personal-Valor *humano*

**Fecha y ubicación de compra:** Información temporal y geográfica.

**Evaluación de compra:** Comentarios de clientes.

**Tipo de Pago y Cuotas:** Métodos utilizados por los clientes.

**Coordenadas Geográficas:** Ubicación de las transacciones. Lat(Latitud) y lon(longitud)

## **-Tipos de datos**

In [3]:
tienda1.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

##**-Comprobando datos nulos**

In [4]:
tienda1.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

##**-Organización De Los Datos**

### Quiero organizar mis datos en un solo dataframe:
para esto debo realizar lo siguiente:

1. Verificar columnas de los DataFrames: Comprobar que todos los DataFrames tienen las mismas columnas antes de la concatenación.
2. Añadir columna 'tienda' a cada DataFrame: Asignar un identificador de tienda a cada DataFrame ('tienda1', 'tienda2', etc.) antes de unirlos.
3. Concatenar todos los DataFrames: Unir todos los DataFrames en uno solo, incluyendo la nueva columna 'tienda'.
4. Comprobar que todos los datos se unieron correctamente:
Se puede usar .sample(n=7) para ver 7 filas aleatorias.
Tambien puedo sumar con .shape[0] el numero de filas de cada dataframe de las
tiendas y comparar con el .shape[0] del dataframe completo de las tiendas deben de dar iguales.

#### 1. Verificar columnas de los DataFrames:

In [5]:
print("Columnas de tienda1:", tienda1.columns.tolist())
print("Columnas de tienda2:", tienda2.columns.tolist())
print("Columnas de tienda3:", tienda3.columns.tolist())
print("Columnas de tienda4:", tienda4.columns.tolist())

Columnas de tienda1: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda2: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda3: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda4: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']

In [6]:
# Comprobación programática
columns_tienda1 = set(tienda1.columns)
columns_tienda2 = set(tienda2.columns)
columns_tienda3 = set(tienda3.columns)
columns_tienda4 = set(tienda4.columns)

if columns_tienda1 == columns_tienda2 == columns_tienda3 == columns_tienda4:
    print("\nTodos los DataFrames tienen las mismas columnas.")
else:
    print("\nLos DataFrames tienen columnas diferentes.")

Todos los DataFrames tienen las mismas columnas.

#### 2. Añadir columna 'tienda' a cada DataFrame: Asignar un identificador

In [7]:
tienda1['Tienda'] = 'tienda1'
tienda2['Tienda'] = 'tienda2'
tienda3['Tienda'] = 'tienda3'
tienda4['Tienda'] = 'tienda4'

print("Column 'Tienda' añadida a todos los DataFrames.")

Column 'Tienda' añadida a todos los DataFrames.

#### 3. Concatenar todos los DataFrames:

In [8]:
df_tiendas_completo = pd.concat([tienda1, tienda2, tienda3, tienda4], ignore_index=True)
df_tiendas_completo.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175,tienda1
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359,tienda1
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444,tienda1
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250,tienda1
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359,tienda1

#### 4. Comprobar que los dataframe se unieron correctamente

##### con .sample(n=)

In [9]:
df_tiendas_completo.sample(n=7)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
8911,Juego de mesa,Juguetes,142300.0,7800.0,25/11/2022,Ángel Rodriguez,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175,tienda4
1466,TV LED UHD 4K,Electrónicos,2368500.0,127200.0,23/09/2021,Juan Fernandez,Bogotá,1,Tarjeta de crédito,10,4.60971,-74.08175,tienda1
6228,Cama box,Muebles,599200.0,34300.0,10/01/2021,Izabela de León,Pereira,3,Tarjeta de crédito,10,4.81333,-75.69611,tienda3
5647,Pandereta,Instrumentos musicales,33600.0,0.0,07/09/2022,Izabela de León,Bogotá,5,Nequi,1,4.60971,-74.08175,tienda3
1452,Smartwatch,Electrónicos,142000.0,8200.0,10/03/2020,Camila Rivera,Bogotá,4,Nequi,1,4.60971,-74.08175,tienda1
2451,Bloques de construcción,Juguetes,26300.0,0.0,23/12/2022,Ángel Rodriguez,Pereira,1,Tarjeta de crédito,10,4.81333,-75.69611,tienda2
596,Set de vasos,Artículos para el hogar,28300.0,0.0,28/03/2022,Ángel Rodriguez,Bogotá,5,Tarjeta de crédito,1,4.60971,-74.08175,tienda1

##### Comprobar tambien sumando las filas de todos los dataframe utilizando:   .shape[0] y comparandolo con el shape[0] del completo.

In [10]:
total_rows = tienda1.shape[0] + tienda2.shape[0] + tienda3.shape[0] + tienda4.shape[0]
print(f"El número total de filas entre todas los df de las tiendas es: {total_rows}")

El número total de filas entre todas los df de las tiendas es: 9435

In [11]:
df_tiendas_completo.shape[0]
print(f"El número total de filas del df_tiendas_completo es: {df_tiendas_completo.shape[0]}")

El número total de filas del df_tiendas_completo es: 9435

##**-Limpiar los Datos**

In [12]:
df_tiendas_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categoría del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de envío          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificación            9435 non-null   int64
 8   Método de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
 12  Tienda                  9435 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 958.4+ KB

In [13]:
df_tiendas_completo.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
Tienda                    0
dtype: int64

#1. Análisis de facturación

## En este primer análisis, calculamos el ingreso total de cada tienda. Sumando los valores de la columna Precio.

In [14]:
# agrupo por la columna 'Tienda' y para cada Tienda selecciono la columna 'precio' calculando la suma de todos sus valores con .sum()
ingreso_total_por_tienda = df_tiendas_completo.groupby('Tienda')['Precio'].sum()
# El resultado es una Serie de Pandas donde el índice son los nombres de las tiendas y los valores son el ingreso total de cada tienda.
print("="*60)
print("💲💰💲Ingreso total por tienda:")
print("="*60)
# Iterar sobre cada tienda e ingreso(precio_total) para imprimirlo formateado.
for tienda, ingreso in ingreso_total_por_tienda.items():
    print(f"{tienda}: 💲{ingreso:,.2f}")
# Sumar la columna 'Precio' del DataFrame completo para obtener la facturación total.
facturacion_total = df_tiendas_completo['Precio'].sum()
# Imprimir la facturación total formateada.
print("="*60)
print(f"\n🏦💵💰Facturación total de todas las tiendas💰: 💲{facturacion_total:,.2f}")
print("="*60)

============================================================
💲💰💲Ingreso total por tienda:
============================================================
tienda1: 💲1,150,880,400.00
tienda2: 💲1,116,343,500.00
tienda3: 💲1,098,019,600.00
tienda4: 💲1,038,375,700.00
============================================================

🏦💵💰Facturación total de todas las tiendas💰: 💲4,403,619,200.00
============================================================

# 2. Ventas por categoría

##calculamos la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [15]:
# Agrupa por tienda y por categoría de producto para calcular las ventas totales de cada combinación. El resultado es una Series que muestra el ingreso total por cada combinación de tienda y categoría.
ventas_por_categoria_tienda = df_tiendas_completo.groupby(['Tienda', 'Categoría del Producto'])['Precio'].sum()
print("="*60)
print("📊 Ordenamiento Global🏆:")
print("="*60)
# Aparecen las categorías que más dinero generaron en total en orden descendente, sin importar a qué tienda pertenecen
display(ventas_por_categoria_tienda.sort_values(ascending=False).map(lambda x: f'💲{x:,.2f}'))
print("="*60)
print("🚀 Ordenamiento Por Tiendas")
print("="*60)
# Logra ordenar por cada Tienda y muestre sus productos del más vendido al menos.
# La función lambda (lambda x: x.sort_values(ascending=False)) se aplica a cada grupo de tienda ('x').
# Para cada tienda, 'x' representa sus ventas por categoría, y 'x.sort_values(ascending=False)' ordena esas ventas de mayor a menor.
display(ventas_por_categoria_tienda.groupby('Tienda', group_keys= False).apply(lambda x: x.sort_values(ascending=False)).map(lambda x: f'💲{x:,.2f}'))

============================================================
📊 Ordenamiento Global🏆:
============================================================

Tienda   Categoría del Producto
tienda1  Electrónicos               💲429,493,500.00
tienda2  Electrónicos               💲410,831,100.00
tienda3  Electrónicos               💲410,775,800.00
tienda4  Electrónicos               💲409,476,100.00
tienda1  Electrodomésticos          💲363,685,200.00
tienda2  Electrodomésticos          💲348,567,800.00
tienda3  Electrodomésticos          💲329,237,900.00
tienda4  Electrodomésticos          💲283,260,200.00
tienda3  Muebles                    💲201,072,100.00
tienda4  Muebles                    💲192,528,900.00
tienda1  Muebles                    💲187,633,700.00
tienda2  Muebles                    💲176,426,300.00
         Instrumentos musicales     💲104,990,300.00
tienda1  Instrumentos musicales      💲91,299,000.00
tienda3  Instrumentos musicales      💲77,380,900.00
tienda4  Instrumentos musicales      💲75,102,400.00
tienda1  Deportes y diversión        💲39,290,000.00
tienda3  Deportes y diversión        💲35,593,100.00
tienda2  Deportes y diversión        💲34,744,500.00
tienda4  Deportes y diversión        💲33,350,100.00
         Juguetes                    💲20,262,200.00
tienda3  Juguetes                    💲19,401,100.00
tienda1  Juguetes                    💲17,995,700.00
tienda2  Juguetes                    💲15,945,400.00
tienda4  Artículos para el hogar     💲15,074,500.00
tienda3  Artículos para el hogar     💲15,060,000.00
tienda2  Artículos para el hogar     💲14,746,900.00
tienda1  Artículos para el hogar     💲12,698,400.00
tienda2  Libros                      💲10,091,200.00
tienda3  Libros                       💲9,498,700.00
tienda4  Libros                       💲9,321,300.00
tienda1  Libros                       💲8,784,900.00
Name: Precio, dtype: object

============================================================
🚀 Ordenamiento Por Tiendas
============================================================

Tienda   Categoría del Producto
tienda1  Electrónicos               💲429,493,500.00
         Electrodomésticos          💲363,685,200.00
         Muebles                    💲187,633,700.00
         Instrumentos musicales      💲91,299,000.00
         Deportes y diversión        💲39,290,000.00
         Juguetes                    💲17,995,700.00
         Artículos para el hogar     💲12,698,400.00
         Libros                       💲8,784,900.00
tienda2  Electrónicos               💲410,831,100.00
         Electrodomésticos          💲348,567,800.00
         Muebles                    💲176,426,300.00
         Instrumentos musicales     💲104,990,300.00
         Deportes y diversión        💲34,744,500.00
         Juguetes                    💲15,945,400.00
         Artículos para el hogar     💲14,746,900.00
         Libros                      💲10,091,200.00
tienda3  Electrónicos               💲410,775,800.00
         Electrodomésticos          💲329,237,900.00
         Muebles                    💲201,072,100.00
         Instrumentos musicales      💲77,380,900.00
         Deportes y diversión        💲35,593,100.00
         Juguetes                    💲19,401,100.00
         Artículos para el hogar     💲15,060,000.00
         Libros                       💲9,498,700.00
tienda4  Electrónicos               💲409,476,100.00
         Electrodomésticos          💲283,260,200.00
         Muebles                    💲192,528,900.00
         Instrumentos musicales      💲75,102,400.00
         Deportes y diversión        💲33,350,100.00
         Juguetes                    💲20,262,200.00
         Artículos para el hogar     💲15,074,500.00
         Libros                       💲9,321,300.00
Name: Precio, dtype: object

# 3. Calificación promedio de la tienda

##calculamos las calificaciones promedio de los clientes para cada tienda. El objetivo es conocer la satisfacción del cliente con los productos vendidos.

In [16]:
# Agrupa el DataFrame por 'Tienda' y calcula la calificación promedio para cada una con .mean(), creando una Serie con estos valores.
calificacion_promedio_tienda = df_tiendas_completo.groupby('Tienda')['Calificación'].mean()
print("\n⭐ RANKING DE SATISFACCIÓN ⭐")
print("------------------------------------------")
print("║  🏆  TOP TIENDAS POR CALIFICACIÓN PROMEDIO     ║")
print("📌 Nota: Ordenado de mayor a menor puntaje")
# Muestra la serie de calificaciones promedio por tienda, ordenada de mayor a menor.
display(calificacion_promedio_tienda.sort_values(ascending=False).map(lambda x: f'{x:.2f}'))

⭐ RANKING DE SATISFACCIÓN ⭐
------------------------------------------
║  🏆  TOP TIENDAS POR CALIFICACIÓN PROMEDIO     ║
📌 Nota: Ordenado de mayor a menor puntaje

Tienda
tienda3    4.05
tienda2    4.04
tienda4    4.00
tienda1    3.98
Name: Calificación, dtype: object

# 4. Productos más y menos vendidos

##Identificar los productos más y menos vendidos en general.

In [26]:
print("="*60)
# Calcula y imprime el número total de productos únicos en el DataFrame 'df_tiendas_completo' utilizando:
# .nunique() metodo de pandas para contar ignorando duplicados y valores nulos .
print(f"\nNúmero total de productos diferentes: {df_tiendas_completo['Producto'].nunique()}")
print("="*60)
# Calcula la frecuencia de cada producto (cuántas veces aparece)con:_
# value_counts()nos da un desglose detallado de cuántas veces aparece cada elemento único.
productos_mas_vendidos = df_tiendas_completo['Producto'].value_counts()
print("="*60)
print("\nVision General de todos los productos\ndesde el más vendido al menos vendido(Todas Las Tiendas):")
print("="*60)
display(productos_mas_vendidos)

============================================================

Número total de productos diferentes: 51
============================================================
============================================================

Vision General de todos los productos
desde el más vendido al menos vendido(Todas Las Tiendas):
============================================================

Producto
Mesa de noche                  210
Carrito de control remoto      206
Microondas                     206
Batería                        203
Cama king                      201
Secadora de ropa               200
Modelado predictivo            200
Set de ollas                   200
Cama box                       199
Bloques de construcción        199
Iphone 15                      198
Armario                        197
Pandereta                      197
Balón de baloncesto            197
Bicicleta                      196
Iniciando en programación      195
Smart TV                       192
Refrigerador                   191
Lavavajillas                   189
Cubertería                     189
Guitarra acústica              188
Impresora                      188
Kit de bancas                  188
Vaso térmico                   187
Estufa                         187
TV LED UHD 4K                  187
Cuerda para saltar             186
Mesa de comedor                185
Balón de voleibol              184
Sofá reclinable                182
Silla de oficina               181
Dashboards con Power BI        181
Cubo mágico 8x8                180
Ajedrez de madera              180
Tablet ABXY                    179
Lavadora de ropa               176
Muñeca bebé                    175
Mesa de centro                 175
Dinosaurio Rex                 175
Juego de mesa                  175
Auriculares                    174
Olla de presión                172
Smartwatch                     172
Set de vasos                   169
Sillón                         168
Asistente virtual              167
Ciencia de datos con Python    166
Guitarra eléctrica             165
Mochila                        163
Auriculares con micrófono      158
Celular ABXY                   157
Name: count, dtype: int64

##Identificar los que 3 que generaron más Dinero y los que 3 que generaron menos Dinero

In [42]:
# Agregamos por Producto para obtener el recaudo total y la cantidad vendida usando el metodo:
#.agg()
'''que se usa para aplicar una o más operaciones de agregación (como suma, promedio, conteo, máximo, mínimo, etc.)
a uno o más columnas de un DataFrame o de un grupo de DataFrames (cuando se usa después de groupby).
Es muy potente para resumir datos.'''

df_productos_agg = df_tiendas_completo.groupby('Producto').agg(
    total_recaudo=('Precio', 'sum'), #  se crea nueva_columna = ('columna_original', 'alias_funcion_agregacion'('sum'))
    cantidad_vendida=('Producto', 'count') #se crea nueva_columna = ('columna_original', 'alias_funcion_agregacion'('count'))
)

#se crea dataframe 'productos_con_mas_recaudo' con Los 3 productos con más recaudo tomando el DataFrame
#df_productos_agg (que ya tiene el recaudo total por producto) y con sort_values(by='total_recaudo', ascending=False)
#se ordenan los productos de mayor a menor según su total_recaudo.
productos_con_mas_recaudo = df_productos_agg.sort_values(by='total_recaudo', ascending=False).head(3) #.head(3): Selecciona los 3 primeros

print("="*60)
print("Los 3 productos con más recaudo (Todas Las Tiendas):")
print("="*60)
#El bucle for imprime estos 3 productos junto con su cantidad vendida y el recaudo total, de forma legible.
for producto, row in productos_con_mas_recaudo.iterrows():
    print(f"{producto}: Se vendieron {int(row['cantidad_vendida'])} Unidades y se Recaudo 💲{row['total_recaudo']:,.2f} ")
    #int(...): Fuerza a que ese valor sea tratado como un número entero.
'''iterrows() devuelve en cada iteración una tupla del DF productos_con_mas_recaudo, compuesta por
   (indice de la fila, la fila como una Serie). y con for producto, row in ...,
   estás "desempaquetando" esa tupla para guardar el índice en producto y la Serie de la fila en row.'''

# Los 3 productos con menos recaudo (ordenados del menos al más rentable de los 3)
# se usa la misma logica pero se cambia ascending=True para ordenar de menor a mayor recaudo.
productos_con_menos_recaudo = df_productos_agg.sort_values(by='total_recaudo', ascending=True).head(3)
print("="*60)
print("\nLos 3 productos con menos recaudo (Todas Las Tiendas):")
print("="*60)
for producto, row in productos_con_menos_recaudo.iterrows():
    print(f"{producto}: Se vendieron {int(row['cantidad_vendida'])} Unidades y se Recaudo 💲{row['total_recaudo']:,.2f}")
print("="*60)

============================================================
Los 3 productos con más recaudo (Todas Las Tiendas):
============================================================
TV LED UHD 4K: Se vendieron 187 Unidades y se Recaudo 💲432,489,600.00
Iphone 15: Se vendieron 198 Unidades y se Recaudo 💲401,051,200.00
Refrigerador: Se vendieron 191 Unidades y se Recaudo 💲384,937,400.00
============================================================

Los 3 productos con menos recaudo (Todas Las Tiendas):
============================================================
Cubo mágico 8x8: Se vendieron 180 Unidades y se Recaudo 💲2,729,300.00
Cuerda para saltar: Se vendieron 186 Unidades y se Recaudo 💲3,068,300.00
Dinosaurio Rex: Se vendieron 175 Unidades y se Recaudo 💲3,112,900.00
============================================================

##mostrar por tienda los que más recaudaron dinero y los que menos

In [50]:
from IPython.core.interactiveshell import dis
print("="*60)
print("📊 Top 3 Productos con más recaudo por Tienda 🏆")
print("="*60)

# Agrupar por 'Tienda' y 'Producto' y sumar la columna 'Precio'
recaudo_por_producto_por_tienda = df_tiendas_completo.groupby(['Tienda', 'Producto'])['Precio'].sum()

# Obtener los 3 productos con mayor recaudo para cada tienda
#groupby(level=0): Agrupa los resultados por el primer nivel del índice (que es la Tienda).
'''.apply(lambda x: x.nlargest(3)): Para cada grupo de tienda, aplica una función lambda que
    selecciona los 3 productos con los mayores ingresos (nlargest(3)).'''
top_3_productos_por_tienda = recaudo_por_producto_por_tienda.groupby(level=0).apply(lambda x: x.nlargest(3))
display(top_3_productos_por_tienda)

# Imprimir los resultados formateados
current_tienda = None # se utiliza como una variable de control
for index_tuple, precio in top_3_productos_por_tienda.items():
    #Este bucle for itera sobre los resultados de top_3_productos_por_tienda.
    tienda = index_tuple[0]
    producto = index_tuple[2]
    if tienda != current_tienda:
        print(f"\nTienda: {tienda}")
        print("-------------------------")
        current_tienda = tienda
    print(f"  Producto: {producto:<25} Recaudo: 💲{precio:,.2f}")
print("="*80)
print("="*60)
print("📊 Top 3 Productos con menos recaudo por Tienda 🏆")
print("="*60)
inf_3_productos_por_tienda= recaudo_por_producto_por_tienda.groupby(level=0).apply(lambda x: x.nsmallest(3))
current_tienda = None
for index_tuple, precio in inf_3_productos_por_tienda.items():
  tienda = index_tuple[0]
  producto = index_tuple[2]
  if tienda != current_tienda:
    print(f"\nTienda: {tienda}")
    print("-------------------------")
    current_tienda = tienda
  print(f"  Producto: {producto:<25} Recaudo: 💲{precio:,.2f}")
  print("="*80)

============================================================
📊 Top 3 Productos con más recaudo por Tienda 🏆
============================================================

Tienda   Tienda   Producto
tienda1  tienda1  TV LED UHD 4K    142150200.0
                  Refrigerador     112143300.0
                  Iphone 15         97902200.0
tienda2  tienda2  Iphone 15        113225800.0
                  TV LED UHD 4K    103375000.0
                  Refrigerador      97632500.0
tienda3  tienda3  Refrigerador      99889700.0
                  TV LED UHD 4K     96669100.0
                  Iphone 15         93225700.0
tienda4  tienda4  Iphone 15         96697500.0
                  TV LED UHD 4K     90295300.0
                  Smart TV          82790400.0
Name: Precio, dtype: float64

Tienda: tienda1
-------------------------
  Producto: TV LED UHD 4K             Recaudo: 💲142,150,200.00
  Producto: Refrigerador              Recaudo: 💲112,143,300.00
  Producto: Iphone 15                 Recaudo: 💲97,902,200.00

Tienda: tienda2
-------------------------
  Producto: Iphone 15                 Recaudo: 💲113,225,800.00
  Producto: TV LED UHD 4K             Recaudo: 💲103,375,000.00
  Producto: Refrigerador              Recaudo: 💲97,632,500.00

Tienda: tienda3
-------------------------
  Producto: Refrigerador              Recaudo: 💲99,889,700.00
  Producto: TV LED UHD 4K             Recaudo: 💲96,669,100.00
  Producto: Iphone 15                 Recaudo: 💲93,225,700.00

Tienda: tienda4
-------------------------
  Producto: Iphone 15                 Recaudo: 💲96,697,500.00
  Producto: TV LED UHD 4K             Recaudo: 💲90,295,300.00
  Producto: Smart TV                  Recaudo: 💲82,790,400.00
================================================================================
============================================================
📊 Top 3 Productos con menos recaudo por Tienda 🏆
============================================================

Tienda: tienda1
-------------------------
  Producto: Cuerda para saltar        Recaudo: 💲652,800.00
================================================================================
  Producto: Dinosaurio Rex            Recaudo: 💲688,900.00
================================================================================
  Producto: Cubo mágico 8x8           Recaudo: 💲696,900.00
================================================================================

Tienda: tienda2
-------------------------
  Producto: Cubo mágico 8x8           Recaudo: 💲643,600.00
================================================================================
  Producto: Dinosaurio Rex            Recaudo: 💲770,300.00
================================================================================
  Producto: Cuerda para saltar        Recaudo: 💲856,900.00
================================================================================

Tienda: tienda3
-------------------------
  Producto: Cubo mágico 8x8           Recaudo: 💲640,400.00
================================================================================
  Producto: Dinosaurio Rex            Recaudo: 💲795,600.00
================================================================================
  Producto: Cuerda para saltar        Recaudo: 💲853,800.00
================================================================================

Tienda: tienda4
-------------------------
  Producto: Cuerda para saltar        Recaudo: 💲704,800.00
================================================================================
  Producto: Cubo mágico 8x8           Recaudo: 💲748,400.00
================================================================================
  Producto: Dinosaurio Rex            Recaudo: 💲858,100.00
================================================================================

# 5. Envío promedio por tienda

In [20]:
# Calcular el costo de envío promedio por tienda.

In [21]:
envio_promedio_tienda = df_tiendas_completo.groupby('Tienda')['Costo de envío'].mean()
print("Costo de envío promedio por tienda:")
display(envio_promedio_tienda.sort_values(ascending=False))

Costo de envío promedio por tienda:

Tienda
tienda1    26018.609580
tienda2    25216.235693
tienda3    24805.680373
tienda4    23459.457167
Name: Costo de envío, dtype: float64

# 6. Recomendación Final

Enviar una recomendación:

Después del análisis, escriba un texto explicando a qué tienda debería vender el Sr. Juan y por qué, basándose en los datos presentados.