<a href="https://colab.research.google.com/github/Harold-dev-code/Primer_Challenge_DataScience_Alura_Store/blob/main/Primer_Challenge_DataScience_AluraStore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda1.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

##**-Conociendo los datos**

In [2]:
tienda1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB


###**Estructura de datos:**

El conjunto de datos incluye la siguiente información:

**Producto y Categoría:** Artículos vendidos y sus calificaciones.

**Precio y Envío:** Valores de venta y costos asociados.

**Vendedor:** Personal-Valor *humano*

**Fecha y ubicación de compra:** Información temporal y geográfica.

**Evaluación de compra:** Comentarios de clientes.

**Tipo de Pago y Cuotas:** Métodos utilizados por los clientes.

**Coordenadas Geográficas:** Ubicación de las transacciones. Lat(Latitud) y lon(longitud)

## **-Tipos de datos**

In [3]:
tienda1.dtypes

Producto                   object
Categoría del Producto     object
Precio                    float64
Costo de envío            float64
Fecha de Compra            object
Vendedor                   object
Lugar de Compra            object
Calificación                int64
Método de pago             object
Cantidad de cuotas          int64
lat                       float64
lon                       float64
dtype: object

##**-Comprobando datos nulos**

In [4]:
tienda1.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

##**-Organización De Los Datos**

### Quiero organizar mis datos en un solo dataframe:
para esto debo realizar lo siguiente:

1. Verificar columnas de los DataFrames: Comprobar que todos los DataFrames tienen las mismas columnas antes de la concatenación.
2. Añadir columna 'tienda' a cada DataFrame: Asignar un identificador de tienda a cada DataFrame ('tienda1', 'tienda2', etc.) antes de unirlos.
3. Concatenar todos los DataFrames: Unir todos los DataFrames en uno solo, incluyendo la nueva columna 'tienda'.
4. Comprobar que todos los datos se unieron correctamente:
Se puede usar .sample(n=7) para ver 7 filas aleatorias.
Tambien puedo sumar con .shape[0] el numero de filas de cada dataframe de las
tiendas y comparar con el .shape[0] del dataframe completo de las tiendas deben de dar iguales.

#### 1. Verificar columnas de los DataFrames:

In [5]:
print("Columnas de tienda1:", tienda1.columns.tolist())
print("Columnas de tienda2:", tienda2.columns.tolist())
print("Columnas de tienda3:", tienda3.columns.tolist())
print("Columnas de tienda4:", tienda4.columns.tolist())

Columnas de tienda1: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda2: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda3: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']
Columnas de tienda4: ['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío', 'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación', 'Método de pago', 'Cantidad de cuotas', 'lat', 'lon']

In [6]:
# Comprobación programática
columns_tienda1 = set(tienda1.columns)
columns_tienda2 = set(tienda2.columns)
columns_tienda3 = set(tienda3.columns)
columns_tienda4 = set(tienda4.columns)

if columns_tienda1 == columns_tienda2 == columns_tienda3 == columns_tienda4:
    print("\nTodos los DataFrames tienen las mismas columnas.")
else:
    print("\nLos DataFrames tienen columnas diferentes.")

Todos los DataFrames tienen las mismas columnas.

#### 2. Añadir columna 'tienda' a cada DataFrame: Asignar un identificador

In [7]:
tienda1['Tienda'] = 'tienda1'
tienda2['Tienda'] = 'tienda2'
tienda3['Tienda'] = 'tienda3'
tienda4['Tienda'] = 'tienda4'

print("Column 'Tienda' añadida a todos los DataFrames.")

Column 'Tienda' añadida a todos los DataFrames.

#### 3. Concatenar todos los DataFrames:

In [8]:
df_tiendas_completo = pd.concat([tienda1, tienda2, tienda3, tienda4], ignore_index=True)
df_tiendas_completo.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175,tienda1
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359,tienda1
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444,tienda1
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250,tienda1
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359,tienda1

#### 4. Comprobar que los dataframe se unieron correctamente

##### con .sample(n=)

In [9]:
df_tiendas_completo.sample(n=7)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon,Tienda
8321,Estufa,Electrodomésticos,915500.0,46900.0,08/11/2020,Felipe Santos,Bogotá,4,Tarjeta de débito,1,4.60971,-74.08175,tienda4
1124,Lavadora de ropa,Electrodomésticos,1419200.0,76000.0,26/02/2021,Izabela de León,Medellín,5,Nequi,1,6.25184,-75.56359,tienda1
6068,Cubo mágico 8x8,Juguetes,11200.0,1300.0,11/03/2022,Ángel Rodriguez,Medellín,4,Tarjeta de crédito,2,6.25184,-75.56359,tienda3
810,Balón de baloncesto,Deportes y diversión,25500.0,1600.0,10/01/2020,Juan Fernandez,Bogotá,5,Tarjeta de crédito,5,4.60971,-74.08175,tienda1
1132,Balón de baloncesto,Deportes y diversión,71800.0,7200.0,04/08/2020,Juliana Costa,Medellín,4,Nequi,1,6.25184,-75.56359,tienda1
4107,Guitarra acústica,Instrumentos musicales,234100.0,10700.0,27/07/2021,Mariana Herrera,Santa Marta,5,Tarjeta de crédito,3,11.24079,-74.19904,tienda2
9281,Bicicleta,Deportes y diversión,229500.0,10400.0,30/01/2022,Mariana Herrera,Bogotá,4,Tarjeta de crédito,1,4.60971,-74.08175,tienda4

##### Comprobar tambien sumando las filas de todos los dataframe utilizando:   .shape[0] y comparandolo con el shape[0] del completo.

In [10]:
total_rows = tienda1.shape[0] + tienda2.shape[0] + tienda3.shape[0] + tienda4.shape[0]
print(f"El número total de filas entre todas los df de las tiendas es: {total_rows}")

El número total de filas entre todas los df de las tiendas es: 9435

In [11]:
df_tiendas_completo.shape[0]
print(f"El número total de filas del df_tiendas_completo es: {df_tiendas_completo.shape[0]}")

El número total de filas del df_tiendas_completo es: 9435

##**-Limpiar los Datos**

In [12]:
df_tiendas_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categoría del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de envío          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   object
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificación            9435 non-null   int64
 8   Método de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
 12  Tienda                  9435 non-null   object
dtypes: float64(4), int64(2), object(7)
memory usage: 958.4+ KB

In [13]:
df_tiendas_completo.isnull().sum()

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
Tienda                    0
dtype: int64

#1. Análisis de facturación

## En este primer análisis, calculamos el ingreso total de cada tienda. Sumando los valores de la columna Precio.

In [26]:
# agrupo por la columna 'Tienda' y para cada Tienda selecciono la columna 'precio' calculando la suma de todos sus valores con .sum()
ingreso_total_por_tienda = df_tiendas_completo.groupby('Tienda')['Precio'].sum()
# El resultado es una Serie de Pandas donde el índice son los nombres de las tiendas y los valores son el ingreso total de cada tienda.
print("="*60)
print("💲💰💲Ingreso total por tienda:")
print("="*60)
# Iterar sobre cada tienda e ingreso(precio_total) para imprimirlo formateado.
for tienda, ingreso in ingreso_total_por_tienda.items():
    print(f"{tienda}: 💲{ingreso:,.2f}")
# Sumar la columna 'Precio' del DataFrame completo para obtener la facturación total.
facturacion_total = df_tiendas_completo['Precio'].sum()
# Imprimir la facturación total formateada.
print("="*60)
print(f"\n🏦💵💰Facturación total de todas las tiendas💰: 💲{facturacion_total:,.2f}")
print("="*60)

============================================================
💲💰💲Ingreso total por tienda:
============================================================
tienda1: 💲1,150,880,400.00
tienda2: 💲1,116,343,500.00
tienda3: 💲1,098,019,600.00
tienda4: 💲1,038,375,700.00
============================================================

🏦💵💰Facturación total de todas las tiendas💰: 💲4,403,619,200.00
============================================================

# 2. Ventas por categoría

##calculamos la cantidad de productos vendidos por categoría en cada tienda. La idea es agrupar los datos por categoría y contar el número de ventas de cada tipo, mostrando las categorías más populares de cada tienda.

In [23]:
# Agrupa por tienda y por categoría de producto para calcular las ventas totales de cada combinación. El resultado es una Series que muestra el ingreso total por cada combinación de tienda y categoría.
ventas_por_categoria_tienda = df_tiendas_completo.groupby(['Tienda', 'Categoría del Producto'])['Precio'].sum()
print("="*60)
print("📊 Ordenamiento Global🏆:")
print("="*60)
# Aparecen las categorías que más dinero generaron en total en orden descendente, sin importar a qué tienda pertenecen
display(ventas_por_categoria_tienda.sort_values(ascending=False))
print("="*60)
print("🚀 Ordenamiento Por Tiendas")
print("="*60)
# Logra ordenar por cada Tienda y muestre sus productos del más vendido al menos.
# La función lambda (lambda x: x.sort_values(ascending=False)) se aplica a cada grupo de tienda ('x').
# Para cada tienda, 'x' representa sus ventas por categoría, y 'x.sort_values(ascending=False)' ordena esas ventas de mayor a menor.
display(ventas_por_categoria_tienda.groupby('Tienda', group_keys= False).apply(lambda x: x.sort_values(ascending=False)))

============================================================
📊 Ordenamiento Global🏆:
============================================================

Tienda   Categoría del Producto
tienda1  Electrónicos               429493500.0
tienda2  Electrónicos               410831100.0
tienda3  Electrónicos               410775800.0
tienda4  Electrónicos               409476100.0
tienda1  Electrodomésticos          363685200.0
tienda2  Electrodomésticos          348567800.0
tienda3  Electrodomésticos          329237900.0
tienda4  Electrodomésticos          283260200.0
tienda3  Muebles                    201072100.0
tienda4  Muebles                    192528900.0
tienda1  Muebles                    187633700.0
tienda2  Muebles                    176426300.0
         Instrumentos musicales     104990300.0
tienda1  Instrumentos musicales      91299000.0
tienda3  Instrumentos musicales      77380900.0
tienda4  Instrumentos musicales      75102400.0
tienda1  Deportes y diversión        39290000.0
tienda3  Deportes y diversión        35593100.0
tienda2  Deportes y diversión        34744500.0
tienda4  Deportes y diversión        33350100.0
         Juguetes                    20262200.0
tienda3  Juguetes                    19401100.0
tienda1  Juguetes                    17995700.0
tienda2  Juguetes                    15945400.0
tienda4  Artículos para el hogar     15074500.0
tienda3  Artículos para el hogar     15060000.0
tienda2  Artículos para el hogar     14746900.0
tienda1  Artículos para el hogar     12698400.0
tienda2  Libros                      10091200.0
tienda3  Libros                       9498700.0
tienda4  Libros                       9321300.0
tienda1  Libros                       8784900.0
Name: Precio, dtype: float64

============================================================
🚀 Ordenamiento Por Tiendas
============================================================

Tienda   Categoría del Producto
tienda1  Electrónicos               429493500.0
         Electrodomésticos          363685200.0
         Muebles                    187633700.0
         Instrumentos musicales      91299000.0
         Deportes y diversión        39290000.0
         Juguetes                    17995700.0
         Artículos para el hogar     12698400.0
         Libros                       8784900.0
tienda2  Electrónicos               410831100.0
         Electrodomésticos          348567800.0
         Muebles                    176426300.0
         Instrumentos musicales     104990300.0
         Deportes y diversión        34744500.0
         Juguetes                    15945400.0
         Artículos para el hogar     14746900.0
         Libros                      10091200.0
tienda3  Electrónicos               410775800.0
         Electrodomésticos          329237900.0
         Muebles                    201072100.0
         Instrumentos musicales      77380900.0
         Deportes y diversión        35593100.0
         Juguetes                    19401100.0
         Artículos para el hogar     15060000.0
         Libros                       9498700.0
tienda4  Electrónicos               409476100.0
         Electrodomésticos          283260200.0
         Muebles                    192528900.0
         Instrumentos musicales      75102400.0
         Deportes y diversión        33350100.0
         Juguetes                    20262200.0
         Artículos para el hogar     15074500.0
         Libros                       9321300.0
Name: Precio, dtype: float64

# 3. Calificación promedio de la tienda

##Calculamos la calificación promedio de los productos vendidos por cada tienda.

In [28]:
# Agrupa el DataFrame por 'Tienda' y calcula la calificación promedio para cada una con .mean(), creando una Serie con estos valores.
calificacion_promedio_tienda = df_tiendas_completo.groupby('Tienda')['Calificación'].mean()
print("\n⭐ RANKING DE SATISFACCIÓN ⭐")
print("------------------------------------------")
print("║  🏆  TOP TIENDAS POR CALIFICACIÓN PROMEDIO     ║")
print("📌 Nota: Ordenado de mayor a menor puntaje")
# Muestra la serie de calificaciones promedio por tienda, ordenada de mayor a menor.
display(calificacion_promedio_tienda.sort_values(ascending=False))

⭐ RANKING DE SATISFACCIÓN ⭐
------------------------------------------
║  🏆  TOP TIENDAS POR CALIFICACIÓN PROMEDIO        ║
📌 Nota: Ordenado de mayor a menor puntaje

Tienda
tienda3    4.048326
tienda2    4.037304
tienda4    3.995759
tienda1    3.976685
Name: Calificación, dtype: float64

# 4. Productos más y menos vendidos

In [ ]:
# Identificar los productos más y menos vendidos en general.

In [ ]:
productos_mas_vendidos = df_tiendas_completo['Producto'].value_counts().head(5)
print("Los 5 productos más vendidos:")
display(productos_mas_vendidos)

productos_menos_vendidos = df_tiendas_completo['Producto'].value_counts().tail(5)
print("\nLos 5 productos menos vendidos:")
display(productos_menos_vendidos)

Los 5 productos más vendidos:

Producto
Mesa de noche                210
Carrito de control remoto    206
Microondas                   206
Batería                      203
Cama king                    201
Name: count, dtype: int64

Los 5 productos menos vendidos:

Producto
Ciencia de datos con Python    166
Guitarra eléctrica             165
Mochila                        163
Auriculares con micrófono      158
Celular ABXY                   157
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [ ]:
# Calcular el costo de envío promedio por tienda.

In [ ]:
envio_promedio_tienda = df_tiendas_completo.groupby('Tienda')['Costo de envío'].mean()
print("Costo de envío promedio por tienda:")
display(envio_promedio_tienda.sort_values(ascending=False))

Costo de envío promedio por tienda:

Tienda
tienda1    26018.609580
tienda2    25216.235693
tienda3    24805.680373
tienda4    23459.457167
Name: Costo de envío, dtype: float64

# 6. Recomendación Final

Enviar una recomendación:

Después del análisis, escriba un texto explicando a qué tienda debería vender el Sr. Juan y por qué, basándose en los datos presentados.

# Task
Modify the `print` statement in cell `yZR6cOjXYSk1` to display the text "Ordenar por cada tienda las categorias en forma descendente" in bold using Markdown formatting.